div.lists{
	float:left;
	max-width:2in;
}
div.form_div {
    -webkit-padding-start: 40px;
    width: 3in;
    float:left;
}
div.note_box
{
    max-width:4in;
    padding-left:40px;
}
h2{
	margin-bottom:0px;
	margin-top:0px;
	-webkit-padding-start: 40px;
}
h1{
	-webkit-padding-start: 40px;
}
ul{
	margin-top:0px;
}
input.save{
    position:relative;
    left:35%;
}
